<a href="https://colab.research.google.com/github/JacobHSampson/FranklinU/blob/main/Copy_of_Assignment_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 7

## Purpose          
This assignment is intended to help you do the following:      
  - Groupby operations to aggregate, transform, and filter data      
  - Built-in and custom user functions to perform groupby operations

## About the assignment

The function 'get_data_table' takes 4 parameters, df, date_col, group_col, type_x.      
  - The 'df' represents the dataframe.      
  -The 'date_col' represents the date column.      
  -The group_col represents the column to groupby and        
  -The 'type_x' represents the column with a specific value/category == 'type_x'.

In [3]:
def get_data_table(df, date_col, group_col, type_x):
    df_gross = (df.loc[(df.type == type_x) &
                                      df.category.isin(['category_x', 'category_xy', 'category_xyz'])
                                     ]
                         .groupby([group_col, date_col]).sum()
                         .unstack(date_col)['amount'].fillna(0)
                         .resample('M', axis=1).sum()
                        )

    df_recovered = (df.loc[(df.type == type_x) &
                                  df.category.isin(['category_01', 'category_05', 'category_07'])
                                 ]
                    .groupby([group_col, date_col]).sum()
                    .unstack(date_col)['amount'].fillna(0)
                    .resample('M', axis=1).sum()
                    )

    return df_gross.add(df_recovered * -1, fill_value=0)

## Tasks   
  1. Read the function above and in a 1-3 paragraphs explain its purpose    

  2. Apply the function to your selected dataframe and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.

**1)**
 
  The purpose of the function is to create two 'pivoted' categories (gross and recovered), and at the end recovered is subtracted from gross. Both gross and recovered use the rows that match the values specified in type_x and in a certain category.
  These values are grouped by the groupby column and the date column (and summed up), and then the date column is unstacked (ungrouped) by a certain value (what is in the ['amount'] part. Missing values are filled with zero. The dates are then resampled by month and the value for amount are summed up.

**2)**

In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv',parse_dates =['date'])

df.dtypes

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          no       date  ... Dividend Yield  1Y target est
0          1 2019-11-21  ...      N/A (N/A)        1487.52
56        57 2019-11-22  ...      N/A (N/A)        1487.52
260      261 2019-11-25  ...      N/A (N/A)        1487.52
614      615 2019-12-04  ...      N/A (N/A)        1501.98
759      760 2019-12-05  ...      N/A (N/A)        1501.98
...      ...        ...  ...            ...            ...
64142  64143 2020-04-22  ...      N/A (N/A)        1497.90
64508  64509 2020-04-23  ...      N/A (N/A)        1497.90
65147  65148 2020-04-24  ...      N/A (N/A)        1497.90
66073  66074 2020-04-27  ...      N/A (N/A)        1497.90
66999  67000 2020-04-28  ...      N/A (N/A)        1497.90

[90 rows x 19 columns]

In [13]:
df_price_pc = (df.loc[(df['company_name'] == 'GOOG - Alphabet Inc.')]).groupby(['date','company_name']).sum().unstack('date')['price_at_close'].fillna(0).resample('Q', axis=1).sum() 
df_est = (df.loc[(df['company_name'] == 'GOOG - Alphabet Inc.')]).groupby(['date','company_name']).sum().unstack('date')['1Y target est'].fillna(0).resample('Q', axis=1).sum() 
df_est.add(df_price_pc * -1, fill_value=0)

date                  2019-12-31  2020-03-31  2020-06-30
company_name
GOOG - Alphabet Inc.     3357.94    12970.23     5854.13

In [25]:
def get_data_table(df,date_col,group_col,type_x):
    df_price_pc = (df.loc[(df['company_name'] == 'GOOG - Alphabet Inc.')]).groupby(['date','company_name']).sum().unstack('date')['price_at_close'].fillna(0).resample('W', axis=1).mean() 
    df_est = (df.loc[(df['company_name'] == 'GOOG - Alphabet Inc.')]).groupby(['date','company_name']).sum().unstack('date')['1Y target est'].fillna(0).resample('W', axis=1).mean() 
    return df_est.add(df_price_pc * -1, fill_value=0)

In [26]:
get_data_table(df, 'date', 'company_name', 'GOOG - Alphabet Inc.')

date                  2019-11-24  2019-12-01  ...  2020-04-26  2020-05-03
company_name                                  ...
GOOG - Alphabet Inc.     189.175      180.83  ...     248.316     243.125

[1 rows x 24 columns]

**3)**

One of the main differences in my function are omitting the df.category.isin(['category_x', 'category_xy', 'category_xyz']) part for each of the two categories, which in my function are price_after_close and 1Y target estimate. Another difference is I resample based on the week and take the mean instead of the sum.

I do not think the original function means for the group_col to be the same in the df.type = type_x. The challenge for the data set I chose is there are not many columns to group by. That is why chose not to have the df.category.isin(['category_x', 'category_xy', 'category_xyz']) part in my function. I could have used that part instead of df.type = type_x and included multiple companies to compare.

I chose to use price_at_close and 1Y target est to compare how far a given company is from their target any given week in the year.