<a href="https://colab.research.google.com/github/JacobHSampson/FranklinU/blob/main/Jacob_Sampson_Assignment05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')
df.head()

   no         date  ... Dividend Yield 1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)      1,487.52
1   2  Nov 21 2019  ...      N/A (N/A)      1,459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.3
3   4  Nov 21 2019  ...   2.04 (1.36%)        160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)        257.21

[5 rows x 19 columns]

In [ ]:
df.dtypes

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [ ]:
df['price_change'] = df['price_change'].astype('category')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   no                 67905 non-null  int64
 1   date               67905 non-null  object
 2   company_name       67905 non-null  object
 3   price_at_close     67761 non-null  object
 4   price_change       67761 non-null  category
 5   price_after_hours  67761 non-null  object
 6   previous_close     67761 non-null  object
 7   today opened       67750 non-null  object
 8   price range        67756 non-null  object
 9   52 week range      67657 non-null  object
 10  volume             67752 non-null  object
 11  average volume     66584 non-null  object
 12  market cap         67298 non-null  object
 13  beta (3Y Monthly)  67905 non-null  object
 14  PE Ratio           60220 non-null  object
 15  EPS                64962 non-null  object
 16  earnings date      57611 non-null  object
 17  Dividend Yield     67625 non-null  object
 18  1Y target est      57931 non-null  object
dtypes: category(1), int64(1), object(17)
memory usage: 11.2+ MB
None

In [ ]:
df['beta (3Y Monthly)'] = df['beta (3Y Monthly)'].astype(str)

print(df.dtypes)

no                    int64
date                 object
company_name         object
price_at_close       object
price_change         object
price_after_hours    object
previous_close       object
today opened         object
price range          object
52 week range        object
volume               object
average volume       object
market cap           object
beta (3Y Monthly)    object
PE Ratio             object
EPS                  object
earnings date        object
Dividend Yield       object
1Y target est        object
dtype: object