<a href="https://colab.research.google.com/github/JacobHSampson/FranklinU/blob/main/Jacob_Sampson_Assignment06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')
df.head(5)

   no         date  ... Dividend Yield 1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)      1,487.52
1   2  Nov 21 2019  ...      N/A (N/A)      1,459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.3
3   4  Nov 21 2019  ...   2.04 (1.36%)        160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)        257.21

[5 rows x 19 columns]

[' (-0.13%)',
 ' (-0.13%)',
 ' (+0.48%)',
 ' (-0.09%)',
 ' (-0.45%)',
 ' (+3.41%)',
 ' (+1.08%)',
 ' (-0.05%)',
 ' (-5.32%)']

In [2]:
df.dtypes

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [3]:
df.columns

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [4]:
import re
p = '\s\(.\d+\.\d\d\%\)' 
q = '.\d+\.\d\d\s'

In [5]:
def abc(x, y):
  clean = re.findall(pattern=y, string=str(x))
  return clean

In [6]:
price_change =df['price_change']

In [7]:
df['percent_change'] = df['price_change'].apply(abc,y=p)

In [8]:
df['price_change_fixed'] = df['price_change'].apply(abc,y=q)

**Part 2**

In [9]:
df['beta (3Y Monthly)'].sum()

67022.71

In [10]:
df = df.dropna(subset=['beta (3Y Monthly)'])

In [11]:
df['beta (3Y Monthly)'].count()

63163

In [12]:
df['beta (3Y Monthly)'] = df['beta (3Y Monthly)'].astype(float)

In [21]:
def descriptive_stats(col):
  summ = (col).sum()
  average = col.mean()
  summ  = average*63163
  Mode = col.mode()
  Median = col.median()
  Min =  col.min()
  Max = col.max()
  Range = [Min, Max]
  print('Average: ', average)
  print('Sum:     ', summ)
  print('Mode(s):    ', Mode)
  print('Median:    ', Median)
  print('Range:    ', Range)

In [14]:

#def descriptive_stats(col):
#  summ = col.sum()
#  return summ

In [15]:
df['beta (3Y Monthly)'].apply(descriptive_stats)

AttributeError: ignored

In [22]:
descriptive_stats(df['beta (3Y Monthly)'])

Average:  1.0611071355065547
Sum:      67022.71000000052
Mode(s):     0    1.03
1    1.11
dtype: float64
Median:     1.0
Range:     [-90.11, 79.02]