<a href="https://colab.research.google.com/github/JacobHSampson/FranklinU/blob/main/Jacob_Sampson_Assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 4      
(Chapter 4 & 5)

## Purpose:         
This assignment is intended to help you do the following:
1.	Familiarize with merging datasets together
2.	Learn how to identify missing data from a dataset
3.	Handle the missing data from the dataset

## Action Items:
â€¢	Merge other data to your selected data set.    
1. Find another data set, series, text data or a column from another data source and merge with your selected data set.      
2. Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.       
3. Post your work on GitHub     
4. Add a README

In [ ]:
import pandas as pd
salaries = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Salaries.csv')
people = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/People.csv')

In [ ]:
merge = salaries.merge(people, on = 'playerID')
print(merge)

       yearID teamID lgID  ...   finalGame   retroID    bbrefID
0        1985    ATL   NL  ...  1987-09-26  barkl001  barkele01
1        1986    ATL   NL  ...  1987-09-26  barkl001  barkele01
2        1987    ATL   NL  ...  1987-09-26  barkl001  barkele01
3        1987    ML4   AL  ...  1987-09-26  barkl001  barkele01
4        1988    ATL   NL  ...  1987-09-26  barkl001  barkele01
...       ...    ...  ...  ...         ...       ...        ...
26423    2016    TOR   AL  ...  2019-09-28  osunr001  osunaro01
26424    2016    TOR   AL  ...  2016-09-18  schub001  schulbo02
26425    2016    TOR   AL  ...  2018-09-21  travd001  travide01
26426    2016    WAS   NL  ...  2019-09-12  rivef001  riverfe01
26427    2016    WAS   NL  ...  2019-09-29  rossj002   rossjo01

[26428 rows x 28 columns]

In [ ]:
print(merge.count())

yearID          26428
teamID          26428
lgID            26428
playerID        26428
salary          26428
birthYear       26428
birthMonth      26428
birthDay        26428
birthCountry    26428
birthState      25368
birthCity       26425
deathYear         563
deathMonth        563
deathDay          563
deathCountry      563
deathState        554
deathCity         562
nameFirst       26428
nameLast        26428
nameGiven       26428
weight          26428
height          26428
bats            26428
throws          26428
debut           26428
finalGame       26428
retroID         26428
bbrefID         26428
dtype: int64

In [ ]:
num_rows = merge.shape[0]

num_missing = num_rows - merge.count()

print(num_missing)

yearID              0
teamID              0
lgID                0
playerID            0
salary              0
birthYear           0
birthMonth          0
birthDay            0
birthCountry        0
birthState       1060
birthCity           3
deathYear       25865
deathMonth      25865
deathDay        25865
deathCountry    25865
deathState      25874
deathCity       25866
nameFirst           0
nameLast            0
nameGiven           0
weight              0
height              0
bats                0
throws              0
debut               0
finalGame           0
retroID             0
bbrefID             0
dtype: int64

In [ ]:
merge.shape

(26428, 28)

In [ ]:
merge = merge.drop(['birthState', 'birthCity', 'deathState','deathCity'], axis=1)
print(merge)

       yearID teamID lgID  ...   finalGame   retroID    bbrefID
0        1985    ATL   NL  ...  1987-09-26  barkl001  barkele01
1        1986    ATL   NL  ...  1987-09-26  barkl001  barkele01
2        1987    ATL   NL  ...  1987-09-26  barkl001  barkele01
3        1987    ML4   AL  ...  1987-09-26  barkl001  barkele01
4        1988    ATL   NL  ...  1987-09-26  barkl001  barkele01
...       ...    ...  ...  ...         ...       ...        ...
26423    2016    TOR   AL  ...  2019-09-28  osunr001  osunaro01
26424    2016    TOR   AL  ...  2016-09-18  schub001  schulbo02
26425    2016    TOR   AL  ...  2018-09-21  travd001  travide01
26426    2016    WAS   NL  ...  2019-09-12  rivef001  riverfe01
26427    2016    WAS   NL  ...  2019-09-29  rossj002   rossjo01

[26428 rows x 24 columns]

In [ ]:
merge.shape

(26428, 24)

In [ ]:
print(merge.fillna('Not Deceased').iloc[0:26428, 0:23])

       yearID teamID lgID   playerID  ...  throws       debut   finalGame   retroID
0        1985    ATL   NL  barkele01  ...       R  1976-09-14  1987-09-26  barkl001
1        1986    ATL   NL  barkele01  ...       R  1976-09-14  1987-09-26  barkl001
2        1987    ATL   NL  barkele01  ...       R  1976-09-14  1987-09-26  barkl001
3        1987    ML4   AL  barkele01  ...       R  1976-09-14  1987-09-26  barkl001
4        1988    ATL   NL  barkele01  ...       R  1976-09-14  1987-09-26  barkl001
...       ...    ...  ...        ...  ...     ...         ...         ...       ...
26423    2016    TOR   AL  osunaro01  ...       R  2015-04-08  2019-09-28  osunr001
26424    2016    TOR   AL  schulbo02  ...       R  2014-03-23  2016-09-18  schub001
26425    2016    TOR   AL  travide01  ...       R  2015-04-06  2018-09-21  travd001
26426    2016    WAS   NL  riverfe01  ...       L  2015-04-17  2019-09-12  rivef001
26427    2016    WAS   NL   rossjo01  ...       R  2015-06-06  2019-09-29  rossj002

[26428 rows x 23 columns]