<a href="https://colab.research.google.com/github/JacobHSampson/FranklinU/blob/main/Jacob_Sampson_Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 1

## Purpose:      
This assignment is intended to help you do the following:       
1.	Open a GitHub account for your own use and for your career advancement (if you already do not have one).     
2.	Submit information and code in GitHub following best practices from the Udacity course.     
3.	Explore a dataset thoroughly.      
4.	Find and print descriptive information from the dataset.

## Action Items:           
Open a GitHub account to submit your work. If you are new to GitHub, follow the videos and instructions on the following link to understand how to post things on GitHub and start your own account. https://blog.udacity.com/2015/06/a-beginners-git-github-tutorial.html and/or https://guides.github.com/activities/hello-world/     

1.   Select the dataset of your choice from the list 
provided <a href="https://github.com/frankData612/data_612">here.</a>   
2.   Load the dataset using Jupyter notebook and explore the data by using the following.


-	Show the .head() and .tail() of the data set. Specify the number of rows to print using .head() and .tail().      
-	Print the column names.      
-	Print to see what is the type of your data set    
-	Check number of rows and columns.
-	Use groupby() and find the mean on your selected colum/s.
-	Add a README file in GitHub where you explain everything you did.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')

In [ ]:
df.head()

   no         date  ... Dividend Yield 1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)      1,487.52
1   2  Nov 21 2019  ...      N/A (N/A)      1,459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.3
3   4  Nov 21 2019  ...   2.04 (1.36%)        160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)        257.21

[5 rows x 19 columns]

In [ ]:
df.tail(5)

          no         date  ... Dividend Yield 1Y target est
67900  67901  Apr 28 2020  ...      N/A (N/A)         12.83
67901  67902  Apr 28 2020  ...   0.44 (1.49%)         33.33
67902  67903  Apr 28 2020  ...      N/A (N/A)          11.5
67903  67904  Apr 28 2020  ...      N/A (N/A)         67.67
67904  67905  Apr 28 2020  ...      N/A (N/A)         67.62

[5 rows x 19 columns]

In [ ]:
df.columns

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [ ]:
df.shape

(67905, 19)

In [ ]:
df.groupby(['date'])['beta (3Y Monthly)'].mean()

date
Apr 01 2020    1.364849
Apr 02 2020    1.190114
Apr 03 2020    1.189886
Apr 06 2020    1.376509
Apr 07 2020    1.317920
                 ...
Mar 30 2020    1.197909
Mar 31 2020    1.365340
Nov 21 2019    1.032083
Nov 22 2019    1.182526
Nov 25 2019    0.670298
Name: beta (3Y Monthly), Length: 90, dtype: float64